﻿@page "/"

<input @bind-value="@_pathInput" type="text" />
<input @bind-value="@_keywordsFilter" type="text" placeholder="Keywords Filter" />
<input type="checkbox" @bind="_recursive" />
<label>Include Subdirectories</label>

<button @onclick="LoadDirectory">Load</button>
<span>Images: @_imageFiles.Count()</span>

@if (string.IsNullOrWhiteSpace(_errorMessage))
{
    <span style="color: red;">@_errorMessage</span>
}

@if (_imageFiles.Length > 0 && _selectedFile is null)
{
    <ImageFileGrid Value="_imageFiles" PageSize=10 OnSelected="SelectImageFile" />
}

@if (_selectedFile is not null)
{
    <div style="display: flex; flex-direction: row; justify-content: stretch;">
        <div style="width: 300px">
            <img style="width: 300px; height: auto;" src="@_selectedFile.DataUri" />
        </div>
        <div style="display: flex; flex-direction: column; padding-left: 1em;">
            @if (_currentKeywords.Length == 0)
            {
                <span style="margin-bottom: 1em;">Current Keywords: none</span>
            }
            else
            {
                <span style="margin-bottom: 1em;">Current Keywords: @string.Join(", ", _currentKeywords)</span>
            }

            <select @bind="_selectedDropdownExistingKeyword" style="margin-bottom: 1em;">
                <option value="">-- Select a keyword --</option>
                @foreach (var keyword in _currentKeywords)
                {
                    <option value="@keyword">@keyword</option>
                }
            </select>
            <button @onclick="RemoveSelectedKeyword">Remove Selected Keyword</button>
            <hr />
            <select @bind="_selectedDropdownAvailableKeyword" style="margin-bottom: 1em;">
                <option value="">-- Select a keyword --</option>
                @foreach (var keyword in _availableTags.Except(_currentKeywords))
                {
                    <option value="@keyword">@keyword</option>
                }
            </select>
            <button @onclick="AddSelectedKeyword">Add Selected Keyword</button>
            <hr />
            <input @bind-value="@_customKeywordInput" type="text" />
            <button @onclick="OnAddCustom">Add Custom</button>
            <button @onclick="DeselectItem">Back</button>
        </div>
    </div>
}
