<div style="display: flex; flex-wrap: wrap; max-width: 100vw;">
    @foreach (var file in Value.Skip(_currentPage * PageSize).Take(PageSize))
    {
        <img src="@file.DataUri" @onclick="args => ImageClickedAsync(file)" style="max-width: 150px; max-height: 150px; margin: 5px;" />
    }
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item @PrevPageClass" @onclick="OnPrevPageClicked"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item disabled"><a class="page-link" href="#">@(_currentPage + 1) / @(PageCount)</a></li>
    <li class="page-item @NextPageClass" @onclick="OnNextPageClicked"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
