﻿@page
@model ImageOrganizer.WebApp.Pages.FileBrowserModel
@{
    ViewData["Title"] = "File Browser";
}

<h1>File Browser</h1>

@if(string.IsNullOrWhiteSpace(Model.Path))
{
    <div class="alert alert-danger" role="alert">
        Missing or invalid path
    </div>
}
else
{
    <div class="alert alert-success" role="alert">
        File path: @Model.Path
    </div>
}

<div class="list-group">
    @if (Model.HasParentDir) 
    {
        <a href="/filebrowser?path=@string.Join("\\", Model.Path.Replace('/', '\\').TrimEnd('\\').Split('\\').SkipLast(1))\" class="list-group-item list-group-item-action">📁 ..</a>
    }

    @foreach(var directory in Model.SubDirectories)
    {
        <a href="/filebrowser?path=@directory" class="list-group-item list-group-item-action">📁 @System.IO.Path.GetFileName(directory)</a>
    }

    @foreach(var filePath in Model.Files)
    {
        if (FileBrowserModel.IsImageFile(filePath))
        {
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between align-items-center">
                    <span>🖼️ @System.IO.Path.GetFileName(filePath)</span>
                    <img src="/api/files/image?path=@filePath" style="max-height: 100px;" />
                </div>
            </a>
        }
        else
        {
            <a href="#" class="list-group-item list-group-item-action">📄 @System.IO.Path.GetFileName(filePath)</a>
        }
    }
</div>
