﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form id="pathForm">
    <label for="path">Path:</label>
    <input type="text" id="path" name="path" required>
    <button type="submit">Submit</button>
</form>

<hr />

<div class="list-group">
    @foreach (var driveLetter in Model.DriveLetters)
    {
        <a href="/filebrowser?path=@driveLetter" class="list-group-item list-group-item-action">@driveLetter</a>
    }
</div>

@section Scripts
{
    <script>
        document.getElementById('pathForm').addEventListener('submit', function(event) {
            event.preventDefault();
            var pathValue = document.getElementById('path').value;
            window.location.href = '/filebrowser?path=' + encodeURIComponent(pathValue);
        });
    </script>
}
